@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap');
* {
  font-family: 'Encode Sans', sans-serif;
}
body {
    padding: 0;
    margin: 0;
}
header {
    padding-top: 0;
    position: absolute;
    right: 0;
}
#logoheader {
    height: 50px;
}

/*Menu*/
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  margin: 13px;
}

li:last-child {
  border-right: none;
}
.menu-button1, .menu-button2 {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu-button1, .menu-button2, .underline-animation {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
a < .underline-animation {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li < .menu-button {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu-button1 {
  background-color: black;
}
.menu-button1:hover, .menu-button2:hover, button:hover {
  background-color: white;
  color: black;
  -webkit-transition: all 200ms linear;
}
.underline-animation {
  display: inline-block;
  position: relative;
  color:white;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
}

.underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/*Menu Principal*/
#home-title {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 60px;
  padding-left: 35px;
  padding-top: 70px;
  width: 600px;
}

.textecadre1 {
  color:red;
  position: absolute;
  background-color: aqua;
  padding, margin: 50px;
  margin-top: 750px;
}

/*Bouton*/
.button {
  position: absolute;
  border: 2px solid black;
  background: black;
  color: white;
  padding: 10px;
  margin-left: 35px;
  margin-top: 370px;
  text-decoration: none;
}
.main-content {
  padding-top: 50px;
  padding-left: 30px;
}