body {
    padding: 0;
    margin: 0;
}
header {
    padding-top: 0;
    position: absolute;
    right: 0;
}
#logoheader {
    height: 50px;
}

/*Menu Accueil*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  margin: 13px;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu-button {
  border: 2px solid black;
}

#sinscrire {
    background-color: black;
}

li a:hover {
    background-color: green;
  }